{% include "head_atas_pembina.html" %}
{% include "sub_menu_pembina.html" %}

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								

								<div class="hr hr-18 dotted hr-double"></div>

								<h4 class="pink">
									<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
									<a href="#modal-table" role="button" class="green" data-toggle="modal"> APLIKASI HALAMAN PEMBINA PRAKERIN SMK DARU FAIZIN</a>
								</h4>

								<div class="hr hr-18 dotted hr-double"></div>

								<div class="row">
									<div class="col-xs-12" >
										<div class="table-header">
											<h2 align="center"> APLIKASI PRAKERIN SMK DARUL FAIZIN</h2>
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
										
											</div>

										
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->

{% include "head_bawah_pembina.html" %}