{% include "head_atas.html" %}
{% include "sub_menu.html" %}

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								
										<div style="background-image: url('/static/Images/halaman depan.jpeg'); height: 650px; background-size: cover;"></div>
											<div align="center" >
												<br><br>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
										
											</div>

										
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->

{% include "head_bawah.html" %}